<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.cdut.lm.mymuiscplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
       >
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LocalMusicActivity"
            android:theme="@style/AppTheme">
        </activity>

        <service
            android:name=".service.PlayerService">
        </service>

        <!--<receiver
            android:name=".broadcastreceiver.UpdateBarReceiver">
            <intent-filter>
                <action android:name="cn.edu.cdut.lm.mymusicplayer.UPDATE_TITLE_ARTIST"/>
            </intent-filter>
        </receiver>-->

        <receiver
            android:name=".layout.BottomControlBar$UpdateBarReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.edu.cdut.lm.mymusicplayer.UPDATE_PROGRESS_BAR"/>
                <action android:name="cn.edu.cdut.lm.mymusicplayer.UPDATE_UI_ON_LIST_CLICK"/>
                <action android:name="cn.edu.cdut.lm.mymusicplayer.UPDATE_UI_ON_COMPLETION"/>

            </intent-filter>
        </receiver>
    </application>

</manifest>